/* Eliminar márgenes y ajusta el tamaño de la página */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Asegurar que el contenedor del mapa use todo el espacio disponible */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}